.grama{
    background-color: #77cc55;
}
.veneno{
    background-color: #aa5599;
}
.fogo{
    background-color: #ff4422;
}
.agua{
    background-color: #3399ff;
}
.inseto{
    background-color: #aabb22;
}
.voador{
    background-color: #8899ff;
}